.title-text{
    font-family: "Roashe";
    font-size: 8em;
    text-align: center;
    }
    .header-text{
        font-family: "Archivo-Thin";
        font-size: 1.5em;
        text-align: left;
        color: #7C482E;
    }
    .input-class{
        z-index: 1;
        margin-top: 10px;
        background-color: #3A3A3A;
        border-radius: 10px;
        width:15em;
        height:4em;
        color:white;
        border: none!important;
        padding-left: 10px;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .error-text{
        font-family: "Archivo-Thin";
        font-size: 1em;
        text-align: left;
        color: rgb(209, 7, 7);
    }
    
    
    .form-row {
        margin-right: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    .form-group {
        margin-bottom: 10px; /* Adjust spacing between form rows */
        display: flex;
        flex-direction: row; /* Display form groups in a horizontal row */
        align-items: center; /* Align items vertically within each form group */
    }
    
    .form-container{
        margin-top: 100px;
        background-color: #DEDEDE;
        width: 40em;
        height: 25em;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }