<div class="background-container">
    <div class="glass-alt container">
        <div>
            <p class="title-text">Login</p>
            <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                <div class="form-row">
                    
                        <label class="header-text" for="email">Email</label>
                        <input class="input-class" type="email" id="email" name="email" placeholder="Enter your email" formControlName="email">
                    </div>
                    <div class="form-row">
                        <label class="header-text" for="password">Password</label>
                        <input class="input-class" id="password" name="password" placeholder="Enter your password" formControlName="password">
                    </div>
                </div>
                <button class="button-alt" [disabled]="loginForm.invalid" type="submit"><span class="button-text-alt">Login</span></button>
                <div> <i class="error-text" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">Email is Required and Must be Valid</i></div>
                <div> <i class="error-text" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Password is Required and Must be Valid</i></div>
                <div> <button class="register-button"  (click)="onRegister()"><span class="register-text">Register</span></button></div>
            </form>
        </div>
    </div>
</div>