<div class="modal-container">
  <div class="shift">
    <div class="header">
      <p class="title">Add Book</p>
      <div class="button-container">
        <button class="button" mat-fab type="submit" form="createForm"><mat-icon>download</mat-icon></button>
          <button  class="button" mat-fab type="button" (click)="onClose()"><mat-icon>cancel</mat-icon></button>
      </div>
    </div>
  <form id="createForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="input-label" for="name">Name:</div>
      <input class="input-box" type="text" id="name" [(ngModel)]="data.name" name="name">
    </div>
    <div class="input-container">
      <div class="input-label" for="author">Author:</div>
      <input class="input-box" type="text" id="author" [(ngModel)]="data.author" name="author">
    </div>
    <div class="input-container">
      <div class="input-label"for="pagesRead">Pages Read:</div>
      <input class="input-box" type="number" id="pagesRead" [(ngModel)]="data.pagesRead" name="pagesRead">
    </div>
    <div class="input-container">
      <div class="input-label" for="totalPages">Total Pages:</div>
      <input class="input-box" type="number" id="totalPages" [(ngModel)]="data.totalPages" name="totalPages">
    </div>
    <div class="input-container">
      <div class="input-label" for="imageRef">Image Reference:</div>
      <input class="input-box" type="text" id="imageRef" [(ngModel)]="data.imageRef" name="imageRef">
    </div>
    <!-- Add more fields for other book properties as needed -->
    <div>
    </div>
  </form>
  </div>
  </div>