<app-navbar></app-navbar>
  <div class="container">
      <!-- Show login view if user is not logged in -->
      <div *ngIf="!authStatus.isLoggedIn" class="currentBookContainer">
        <div class="banner">{{formattedDate}}</div>
        <div class="body">
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
        </div>  
      </div> 
      <div *ngIf="!authStatus.isLoggedIn" class="booksContainer">
        <div class="banner">Your Collection</div>
        <div class="booksBody">
          <div class="sign-in">
          <p>Your are currently not logged in</p>
          </div>
        </div>  
      </div> 
      <!-- Show logged-in view if user is logged in -->
      <div *ngIf="authStatus.isLoggedIn" class="currentBookContainer">
        <div class="banner">{{formattedDate}}</div>
        <div class="body">
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
          <div class="body4th"><p>Welcome please login</p></div>
        </div>  
      </div> 
      <div *ngIf="authStatus.isLoggedIn" class="booksContainer">
        <div class="banner">Your Collection
        </div>
        <div class="booksBody">
          <p *ngIf="errorMessage">{{ errorMessage }}</p>
          
          <div class="book-grid">
            <div *ngFor="let book of books" class="book-item">
              <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title class="book-title">{{book.name}}</mat-card-title>
                  <mat-card-subtitle class="book-sub-title">{{book.pagesRead}}/{{book.totalPages}}</mat-card-subtitle>
                  <mat-card-subtitle class="book-title">{{book.author}}</mat-card-subtitle>
                </mat-card-header>
                <img class="book-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
               hi
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="editBook(book)">Edit</button>
                  <button mat-button (click)="deleteBook(book)">Delete</button>
                  <button mat-button (click)="viewNotes(book.id)">notes</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          
        </div>  
      </div> 
  </div>
