
.currentBookContainer {
    width: 40%;
    height: 100vh; /* Change height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100vh; /* Change height to viewport height */
    display: flex;
}

.buttonContainer{
    width:50%;
}
.booksContainer {
    width: 60%;
    height: 100vh; /* Change height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    flex-direction: column;
}
.book{
    width:100px;
    height:100px;
    justify-content: center;
    display: flex;
}
.button{
    width:100px;
    height:100px;
}
.banner{
    width:100%;
    height:10vh;
}
.booksBody{
    height:90vh;
    display: flex;
    width:100%;
    flex-direction: column;
    
}
.body{
    width:100%;
    height:90%;
    display: flex;
    flex-direction: column;
}
.body-inner{
  width:100%;
    height:90%;
    display: flex;
    flex-direction: column;
    min-height: 700px;
    overflow: scroll;
}
.body4th{
    width:95%;
    height:25%;
    margin-left:1.5em;
    display: flex;
    justify-content: center;
}
.body15{
  width:95%;
  height:15%;
  min-height: 150px;
  margin-left:1.5em;
  display: flex;
  justify-content: center;
}
.button-container{
  display: flex;
  justify-content: end;
}
.nav-buttonx{
  width:33px;
  margin:2px;
  height:33px;

  border-radius: 15px!important;
  z-index: 1!important;
  }
.body60{
  width:95%;
  height:60%;
  margin-left:1.5em;
  display: flex;
  justify-content: center;
}

.up{
    z-index: 1!important;
}
.c-and-q{
  width:95%;
  height:60%;
  max-width: 500px;
  margin-left:1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-and-q-button{
  width:35%;
margin-right: 1.5em;
margin-top: 1em;
z-index: 1!important;

}
.base-image{
  width: 500px;
  height: 100%;
}
  
  .example-header-image {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fletsenhance.io%2F&psig=AOvVaw2iqeQzjjf75vAu7J_IZefr&ust=1719307460600000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPiOm8X184YDFQAAAAAdAAAAABAE');
    background-size: cover;
    width:200px

  }
  .book-image{
    height: 70%;
    max-height: 200px;
    width:100%;
  }
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
   height:100%;
   min-height: 500px;
   margin-top: 100px;
    overflow: auto; /* Enable vertical scrolling */
  }
  
  .book-item {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-card {
    width: 70%;
    height:95%;
max-width: 300px;
min-width: 100px;
min-height: 320px;
max-height: 350px;

  }
  .l15{
    margin-left: 15px;
  }
  .example-card-big {
    width: 90%;
    height:100%;
max-width: 400px;
min-width: 100px;
min-height: 400px;

  }
  
  .book-image-big{
    height: 70%;
    max-height: 250px;
    width:100%;
  }

  .bodyHalf{
    width:95%;
    height:100%;
    margin-left:1.5em;
    display: flex;
    justify-content: center;
  }
  .calendar{
    width:80%;
    height:10px;
  }
  .current-book{
    width:80%;
    height:10px;
  }
  @media (max-width: 200px) {
    .book-grid {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
  .book-title {
    font-size: 1em;
    font-weight: bold;
max-height: 30px;
overflow: ellipse;

}
  .header{
    width: 90%;
  }
  .text{
    font-size: 0.9em;
  }
  .book-sub-title{
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden; /* Hide the overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */
    white-space: nowrap;
  }
  .sign-in{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%
  }

  .banner-text{
    font-size: 1.5em;
    font-weight: Bold;
    margin-top: 1.5em;
    margin-left:1.5em;
    overflow: hidden;
    max-height: 23px;
  }
  .line{
    width:95%;
    height:3px;
    background-color: black;
    margin-top: 0.5em;
    margin-left:1.5em;
  }
  .spice-display-container {
    display: flex;
    flex-direction: column;
margin-top: 4em;
width: 80%;
height:100%;
min-height: 150px;
max-width: 380px;
  }
  
  .spice-bar {
    height: 15px;
    z-index: 4;
    width:100%;
    max-width: 400px;
    height: 25px;
    background-color: rgb(210, 244, 255);
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .spice-bar-inner {
  z-index:5;
    height: 25px;
    width:100%;
    background: linear-gradient(to right, 
    rgb(35, 35, 35) 0%,     /* Start color at 0% */
    rgb(30, 34, 35) 50%,  /* Color change at 50% */
    rgb(7, 21, 24) 100%   /* End color at 100% */
    );
    border-radius: 5px;
    text-align: right;
  }
  .spice-label {
    color: black;
    left: 0; /* Position on the left */
    margin-left: 10px;
    font-size: em;
    margin-bottom: 5px;
  }
  .spice-label, .spice-text {
    height: 100%; /* Ensure full height */
    display: flex;
    align-items:center; /* Vertically center text */
    height: 25px;
  }
  
  .spice-text {
    color: white;
    font-family: "Archivo";
    font-size: 1em;
  }
