
.currentBookContainer {
    width: 50%;
    background-color: blue;
    height: 100vh; /* Change height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100vh; /* Change height to viewport height */
    background-color: green;
    display: flex;
}

.booksContainer {
    width: 50%;
    background-color: red;
    height: 100vh; /* Change height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    flex-direction: column;
}
.banner{
    width:100%;
    background-color: yellow;
    height:10vh;
}
.booksBody{
    background-color: purple;
    height:90vh;
    display: flex;
    width:100%;
    flex-direction: column;
}
.body{
    width:100%;
    background-color: purple;
    height:90vh;
    display: flex;
    flex-direction: column;
}
.body4th{
    width:100%;
    background-color: orange;
    height:25%;
}