<div class="page">
    <div class="header">
      <div class="header-content">
          <p class="title">Daily Quiz</p>
      </div>
      <div class="line"></div>
     
    </div>
    <div class="body-container">
      <div class="body">
         <div class="question-label"><p class="question-text">How did todays reading make you feel?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
          <div class="question-label"><p class="question-text">What was the writer trying to tell you?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
          <div class="question-label"><p class="question-text">How engaged do you feel by this text?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
          <div class="question-label"><p class="question-text">How can you apply the teachings in practical ways?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
          <div class="question-label"><p class="question-text">How does this text differ or align with what you already knew?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
          <div class="question-label"><p class="question-text">Is the authors argument easy to follow, what biases may they have?</p></div>
          <textarea class="text-area"  rows="10" cols="10"></textarea>
      </div>
      <div class="button-container">
          <button class="button"mat-fab>  <a class="navbar-text" [routerLink]="['/home']"><mat-icon>home</mat-icon> </a></button>
    </div>
  </div>
  