/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar-text {
    font-family: 'Archivo-Black', sans-serif;
    font-size:1.3em;
    color: black;
    text-decoration: none;
    font-weight: Bold;
    // Add navbar styles here
  }
  
  .navbar-button {
    height: 50px;
    width: 10em;
    border: none;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    &:hover {
      background-color: rgba(217, 217, 217, 0.3); // Change hover background color as needed
    }
  }