
<div class="page">
    <div class="header">
      <div class="header-content">
          <p class="title">{{getFirstDay(weekIndex)}} - {{getLastDay(lastDayIndex,weekIndex)}}  </p>
          <button class="margin" [disabled]="!canGoBack" mat-fab (click)="goBackward2Weeks()"><mat-icon>chevron_left</mat-icon></button>
          <button class="margin" [disabled]="!canGoForward" mat-fab (click)="goForward2Weeks()"><mat-icon>chevron_right</mat-icon></button>
          <button  class="margin" mat-fab>  <a class="navbar-text" [routerLink]="['/home']"><mat-icon>home</mat-icon> </a></button>
          </div>
      </div>
      <div class="line"></div>
      <div class="body-container">
        <div class="body">
            <div class="week-container">
                <div class="week" *ngFor="let week of weeks">
                    <div 
                      *ngFor="let day of week" 
                      [ngClass]="{'day': !isToday(day.dateString), 'today': isToday(day.dateString)}">
                      <div class="card-header">
                        <div class="title">{{ day.dateString.slice(0, -4) || 'Add a new book' }}</div>
                        <button class="button" mat-fab (click)="viewNotes(day.bookToReadId)">
                          <mat-icon>notes</mat-icon>
                        </button>
                      </div>
                      <div class="sub-title">{{ day.bookToReadName }}</div>
                      <div class="content">Read 10 Pages.</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
    